<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head') %>
  <body>
    <nav class="shadow lead navbar navbar-light">
      <div class="container">
        <a class="navbar-brand ms-5" href="#">
          <h1 id="main-heading">Problem Trainer</h1>
        </a>
      </div>
    </nav>

    <%- include('./partials/footer')%>
  </body>
</html>
