#table-row:hover {
  background-color: #c4c4c4;
}

#table-row {
  position: relative;
}

#trow-delete {
  display: inline;
}

#trow-delete-button {
  position: absolute;
  right: 20px;
  bottom: 20%;
}
